/*
Estilos sitio web Replica
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

header{
    text-align: center;
}

h3{
    font-size: 3em;
    font-weight: 300;
    margin: 0;
    float: center;
}

h4{
    font-size:1.5em;
}

.box-content{
    margin-top: 0;
    padding-top: 0;
    background-image: url('../images/img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.box-menu {
    margin-top: 100px;
    padding-top: 180px;
    margin-left: 45%;
    padding-left: 0; 
}

.section-1{
    width: 35%;
}

.section-2{
    width: 35%;
    margin-left: 50px;
    padding-left: 50px;
}

.section-3{
    padding-top: 40px;
    width: 35%;
}

.section-4{
    padding-top: 40px;
    width: 35%;
    margin-left: 50px;
    padding-left: 50px;
}

.section-top{
    display: flex;
}

.section-bottom{
    display: flex;
}